/* this is our main style sheet for project 1 */


body{
  font-family: 'Gotu', sans-serif;
  background-color:#000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0;
  color:#ffffff;
}

.container{
  width: 50%;
  height:1024px;
}

h1{
  font-weight:700;
  font-style:normal;
  font-size: 400px;
  margin-top:-25px;
  margin-bottom:-155px;
}

.letter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.analysis{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  position: relative;
}

h2,
h3{
  color:#ffffff;
}

footer h3, footer p{
  margin: 0;
}

h5{
  font-size: 200px;
  margin-top: 0px;
  margin-bottom: -135px;
}

img {
  width: 60px;
}

.letter-container{
  display:flex;
  justify-content: space-evenly;
  align-items: baseline;
}

button{
  color:#ff0000;
  background:#D2B48C;
  border:#ffffff;
}

.svg{
  position: absolute;
    top: 108px;
    left: 18px;
    height: 67%;
    width: 76%;
} /*These values put the letter analysis in the right place*/

footer, div.picture {
  display: flex;
  justify-content: space-around;
}

.info{
  margin-left: 20px;
}
.picture, .info{
  margin-right: 30px;
}

.sources{
  width: 200px;
}

#letter-analysis{
  opacity: 1;
}
#letter-analysis.visible{
  opacity: 0;
}
