*{
  margin: 25px;
  padding: 0;
}

/* homepage styles */
.header {
  width: 100vw;
  background-image: url('..media/green.jpg'); /*how do I make the margins green?*/
  background-image: url('../media/hunter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cabin', sans-serif;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.image-container {
  position: relative;

}

.button-holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */

}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150%;
  height: 120%;
}

a {
  font-family: helvetica,sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #3D3B24;
  background-color: #eeece7;
  padding: 20% 0;
  /* border-radius: 25px; */
  display: block;
  width: 20%;
  text-align: center;
  height: 50px;
}
a:hover {
  font-family: monospace;
  background-color: #3D3B24;
  color: #EEECE7;
}

/* homepage styles */

/* basics styles */
.resources {
  margin: 15px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* basics styles */

/* calendar styles */
.calendar {
  width: 100px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* calendar styles */

/* locations styles */
body {
  background-color: #5A8854;
}

h1 {
  font-size: 24px;
  font-family: 'Cabin', sans-serif;
}

h2 {
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.descriptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  width: 900px;
}

img {
  width: 75%;
}

a {
  font-family: 'Cabin',sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #3D3B24;
  background-color: #eeece7;
  padding: 20% 0;
  /* border-radius: 25px; */
  display: block;
  width: 80%;
  text-align: center;
  height: 50px;
}

/* locations styles */
